/*My customs stylesheet*/

/*Colors variable*/
:root{
  --color-primary:#2289FF;
  --color-secondary:#314862!important;
  --color-acent:#193F6A;
  --font-poppin:'Poppins',serif;
}

/*Custom Classes*/
.bg-primary{
  background-color: var(--color-primary);
}
.color-primary{
  color:var(--color-primary);
}
.bg-secondary{
  background-color: var(--color-secondary);
}
.color-secondary{
  color: var(--color-secondary);
}
.bg-acent{
  background-color: var(--color-acent);
}
.coloracent{
  color: var(--color-acent);
}
.btn-theme{
  box-shadow: none;
  margin: 0;
  font-family: var(--font-poppin);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  background-color: var(--color-primary);
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 30px 0px 30px 30px;
  transition: 0.5s ease;
}
.btn-theme-2{
  box-shadow: 0 10px 20px 0 rgb(34 137 255 /52%);
  margin: 0;
  font-family: var(--font-poppin);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  background-color: var(--color-primary);
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 30px;
  transition: 0.5s ease;
}
.btn-theme:hover{
  background-color:var(--color-acent);
  color: #ffffff;
  box-shadow: none;
}
.btn-theme-2:hover{
  background-color:var(--color-acent);
  color: #ffffff;
}
.btn-play{
  box-shadow: none;
  margin: 0;
  font-family: var(--font-poppin);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  background-color: var(--color-secondary);
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 100%;
  transition: 0.5s ease;
}
.btn-play:hover{
  background-color: var(--color-acent);
  color: var(--color-primary);
  box-shadow: none;
}
/*     Header   */
header.header{
  width: 100%;
}
.header nav.navbar{
  box-shadow: none;
  color: var(--color-secondary);
}
.header nav.navbar.navbar-brand{
  font-family: var(--font-poppin);
  font-weight: 500;
  font-size: 20px;
  color: var(--color-secondary);
}
.header nav.navbar.nav-item{
  margin: auto 20px;;
}
.header nav.navbar.nav-link{
  font-family: var(--font-poppin);
  color: var(--color-secondary);
  font-weight: 500;
  padding: 10px 20px;;
}
.header.navbar.nav-link:hover,
.header.navbar.nav-link.active{
  color: var(--color-primary);
}

/* Hero Banner Style */
#hero-banner{
  width: 100%;
  padding: 80px 0;
  color: var(--color-secondary);
  font-family: var(--font-poppin);
}
#hero-banner p{
  font-weight: 400;
}
#hero-banner .image{
  border-radius: 80px 80px 0 80px;
  overflow: hidden;
}

/* Search section style*/
#search-section .search-area{
  border-radius: 80px;
  padding: 15px 50px;
  font-family: var(--font-poppin);
}
#search-section .search-area select{
  padding: 5px;
  border: none;
  outline: none;
  width: 80%;
  margin-bottom: 3px;
}
#search-section .search-area input{
  border: 1px solid #ffffff;
  outline: none;
}
#search-section .search-area input:focus{
  outline: none;
  box-shadow: none;
  border: 1px solid var(--color-secondary);
}
#search-section .search-area button.btn-theme{
  border-radius: 30px;
  padding: 12px 40px;
}

/* About Us Section style */
#about-section{
  width: 100%;
  padding: 120px 0;
  background-color: #eeeeee;
  font-family: var(--font-poppin);
}
#about-section h1{
  color: var(--color-secondary);
}
#about-section .image{
  border-radius: 80px 0 80px 80px;
  overflow: hidden;
}
#about-section .image img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/*Services Section Style*/
#services-section{
  padding: 100px 0;
  font-family: var(--font-poppin);
}
#services-section .service-show{
  padding: 20px 30px;
  text-align: center;
  border-radius: 0 30px 0 30px;
  margin: 10px;
}
#services-section .service-show i.fas{ 
  padding: 20px;
  width: 62px;
  background-color: #eeeeee;
  color: var(--color-primary);
  font-size: 20px;
  border-radius: 100%;
  text-align: center;
  margin-bottom: 10px;
}
#services-section .service-show p{
  font-size: 13px;
  font-weight: 400;
}

/*Property Section Style*/
#proprty-section{
  width: 100%;
  padding: 50px 0;
  background-color: #eeeeee;
  font-family: var(--font-poppin);
  color: var(--color-secondary);
}
#proprty-section .text-right{
  text-align: right;
}
#proprty-section .text-right a{
  color: var(--color-secondary);
  font-size: 14px;
  font-weight: 500;
  transition: 1s ease;
}
#proprty-section .text-right a:hover{
  color: var(--color-primary);
}

#proprty-section #property-slider{
  width: 100%;
  height: 400px;
  margin-top: 50px;
  border: 1px solid black;
}
#property-slider .swiper{
  width: 100%;
  height: 100%;
}
#property-slider .swiper .swiper-slide .property-list{
  padding: 10px;
  background-color: #ffffff;
  border-radius: 0 30px 0 30px;
  color: #000000;
}
#property-slider .swiper .swiper-slide .property-list p{
  font-weight: 500;
}
#property-slider .swiper .swiper-slide .property-list .image{
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 0 30px 0 30px;
  margin-bottom: 10px;
}
#property-slider .swiper .swiper-slide .property-list .image img{
  width: 100%;
  height: 100%;
}



